.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 210px;
    height: 210px;
    padding: 20px 20px 20px 20px;
    margin: 20px;

    border-radius: 5px;
    border: 2px solid #821B47;
    text-align: center;

    font-family: 'Courier New', Courier, monospace;
    font-weight: 500 !important;
    font-size: 18px !important;

    cursor: default;
    transition: 0.2s ease;
    text-decoration: none;
}

.card:hover {
    box-shadow: inset 0 0 10px 2px #821b4881;
    background-color: rgb(251, 224, 233);
}

.card__description {
    font-weight: 400;
    font-weight: 16px;
    overflow-y: hidden;
}

.card__connect {
    color: #B51D44;
    border: none;
    background-color: transparent;
    cursor: pointer;

    transition: 0.3s ease;
    text-decoration: none;
}

.card__connect:hover {
    font-weight: bold;
}


.card__connect--disabled {
    cursor: not-allowed;
    text-decoration: none;
}

.card__connect--disabled:hover {
    color: lightgray;
}